{%extends "base.html"%}
{%block title%} MTSD{%endblock title%}

{%block content%}

	{%for info in about_text %}
	<h1>{{info.item_title}}</h1>
	<p>{{info.item_text |truncatewords_html:25}}</p>
	<a href="{%url 'about'%}">More about us</a>
	{%endfor%}

	<b>_______________________________________________</b>
	{%for item in news%}
		<a href="{%url 'single_news' pk=item.pk%}"><h2>{{item.item_title}}</h2></a>
		<p>{{item.item_text |truncatewords_html:14}}</p>
		<p>{{item.pub_date |date:"d M Y" }}</p>
		<hr>
	{%endfor%}
{%endblock content%}